body {
  color: #282828;
  background-color: #fbf1c7;
}
.custom {
}
.org-agenda-current-time {
  /* org-agenda-current-time */
  color: #d65d0e;
}
.org-agenda-date {
  /* org-agenda-date */
  color: #8f3f71;
}
.org-agenda-date-today {
  /* org-agenda-date-today */
  color: #282828;
  font-weight: bold;
  font-style: italic;
}
.org-agenda-date-weekend {
  /* org-agenda-date-weekend */
  color: #552543;
}
.org-agenda-diary {
  /* org-agenda-diary */
  color: #282828;
  background-color: #fbf1c7;
}
.org-agenda-structure {
  /* org-agenda-structure */
  color: #a89984;
}
.org-habit-alert {
  /* org-habit-alert-face */
  background-color: #d79921;
}
.org-habit-alert-future {
  /* org-habit-alert-future-face */
  background-color: #b57614;
}
.org-habit-clear {
  /* org-habit-clear-face */
  background-color: #458588;
}
.org-habit-clear-future {
  /* org-habit-clear-future-face */
  background-color: #076678;
}
.org-habit-overdue {
  /* org-habit-overdue-face */
  background-color: #cc241d;
}
.org-habit-overdue-future {
  /* org-habit-overdue-future-face */
  background-color: #9d0006;
}
.org-habit-ready {
  /* org-habit-ready-face */
  background-color: #98971a;
}
.org-habit-ready-future {
  /* org-habit-ready-future-face */
  background-color: #79740e;
}
.org-imminent-deadline {
  /* org-imminent-deadline */
  color: #9d0006;
  font-weight: bold;
}
.org-modern-todo {
  /* org-modern-todo */
  color: #9d0006;
}
.org-scheduled {
  /* org-scheduled */
  color: #b57614;
}
.org-scheduled-previously {
  /* org-scheduled-previously */
  color: #cc241d;
}
.org-scheduled-today {
  /* org-scheduled-today */
  color: #076678;
}
.org-time-grid {
  /* org-time-grid */
  color: #d65d0e;
}

a {
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
