body {
  font-family: monospace;
  white-space: pre;
  margin: 1em;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--fg);
}

:root {
  --fg: #3c3836;
  --bg: #fbf1c7;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #689d6a;
  --gray: #928374;
  --orange: #d65d0e;
  --highlight: #ebdbb2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #ebdbb2;
    --bg: #282828;
    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --gray: #a89984;
    --orange: #fe8019;
    --highlight: #3c3836;
  }
}

.org-agenda-structure {
  font-weight: bold;
  color: var(--yellow);
}

.org-agenda-date,
.org-agenda-date-weekend {
  font-weight: bold;
  color: var(--blue);
}

.org-agenda-date-today {
  font-weight: bold;
  color: var(--red);
  background-color: var(--highlight);
}

.org-agenda-current-time {
  color: var(--orange);
}

.org-time-grid {
  color: var(--gray);
}

.org-todo {
  color: var(--red);
  font-weight: bold;
}

.org-scheduled-previously {
  color: var(--gray);
}

.org-scheduled-today {
  color: var(--green);
}

.org-habit-overdue {
  color: var(--red);
}

.org-habit-alert {
  color: var(--orange);
}

.org-habit-ready {
  color: var(--yellow);
}

.org-habit-clear {
  color: var(--blue);
}

.org-habit-overdue-future,
.org-habit-alert-future,
.org-habit-ready-future,
.org-habit-clear-future {
  opacity: 0.5;
}
